@font-face {
  font-family: "Roobert";
  src: url('/assets/fonts/Roobert-Regular.otf') format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert";
  src: url('/assets/fonts/Roobert-Medium.otf') format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Roobert";
  src: url('/assets/fonts/Roobert-Bold.otf') format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}